
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
:root{
    --primary-color:#231F20;
    --secondary-color:#cd2128;
    --complimentary-color:#21cdc6;
    --ternary-color:#929394;
}
body{
    overflow-x: hidden;
    font-family: 'PT Serif',sans-serif;
}
#logo{
    width:80px;
}
#logo_f{
    width: 50px;
}
#navigation{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
#links{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.link{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
#donate_btn{
    padding: 10px;
    background-color:var(--secondary-color);
    color: white;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    
}
#header-section{
    width: 100vw;
    height:85vh;   
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/untitled-5287.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: left;
}
#intro_section{
    width:30%;
    position: relative;
    top:30%;
    color:white;
    left:10%;
}
.btn{
    background-color: var(--secondary-color);
    color:white;
}
#connect{
    max-height: 300px;
}
.gallery{
    max-height: 300px;
}
footer{
    background-color: black;
    margin-top: 100px;
    padding: 40px;
    color: white;
   
}
#action h4{
    color: var(--secondary-color);
}
#purpose h4{
    color: var(--secondary-color);
}
